#draw
  width: 300px
  height: 300px
  border: 1px solid gray
#answer
  font-size: 1.5rem
#clear
  background-color: black
  color: white
  font-size: 1.5rem
  display: inline-block
  cursor: default
  padding: 1rem
